
@font-face {
    font-family: Bogart;
    src: url(/src/assets/fonts/Bogart-Regular-trial.ttf);
  }
  
  @font-face {
    font-family: Hertical;
    src: url(/src/assets/fonts/Hertical-Sans.ttf);
  }
  

  
  * {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  

  body{
    background-color: whitesmoke;
  }
  
  .companyName {
    position: absolute;
    left: 65px;
    top: 45.5px;
    width: 160px;
    height: 32.8px;
    font-size: 30px;
    line-height: 1.2;
    padding: 8px;
    font-family: Hertical;
    color: #F4F1ED;
}
  
  
  
  
  
  
  /* Hero*/
  .hero-bg {
    background-image: linear-gradient(rgba(98, 62, 42, 0.4), rgba(98, 62, 42, 0.4)), url("/src/assets/img/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 120vh;
    width: 100%;
    
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.25rem;
    font-family: serif;
    width: 1000px 
    
    
  }

  
  
  .hero-btn {
    display: inline-block;
    color:#49444B;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 1.5rem;
    margin-top: 1rem;
    border-radius: 5%;
    cursor: pointer;
    border: 1px solid white;
    font-family: CocoGothic-Bold;
    width:166.6px;
    height: 42px;
    font-size: large;
    
  }
  
  .hero-btn:hover {
    border: 1px solid darkolivegreen;
    transition: ease-in-out 0.3s;
    color: green;
  }
  
    h1 {
      font-size: 6rem;
      font-family: CocoGothic;
      margin-bottom: 2rem;
     margin-top: 20rem;
      
    }
  
    h2{
      font-family: CatchyMager;
      color: #F4F1ED;
      padding-bottom: 2rem;
      padding-top: 3rem;
      font-size: 2.5rem;
      
    }


  
  
    p{
      font-family: CocoGothic-Bold;
      color: #F4F1ED;
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 1rem;
      margin-right: 4rem;
    }
  

   /* Responsive adjustments for screens with a maximum width of 600 pixels */
@media (max-width: 600px) {
  .hero-bg {
      height: 80vh; 
  }

  .hero-text {
      width: 90%; 
      font-size: 1rem; 
  }

  .companyName {
      left: 10px; 
      top: 10px; 
      font-size: 14px; 
      
  }

  h1 {
      font-size: 3rem; 
      margin-top: 10rem; 
      margin-bottom: 8rem; 

  h2 {
      font-size: 1.5rem; 
      padding-bottom: 1.5rem; 
      padding-top: 2rem; 
  }

  p {
      font-size: 0.9rem;
      margin-right: 2rem; 
  }

  .hero-btn {
      width: 140px; 
      height: 32px; 
      font-size: 0.9rem; 
      padding-top: 1rem; 
      margin-top: 0.5rem; /* Adjusting the top margin of the hero button */
  }
}
}